
@{
    ViewBag.Title = "About";
}

<p>m</p>
<p>m</p>
<p>m</p>
<p>m</p>

<img alt="Logo" src="\img\aboutus.jpg" height="100%" width="100%" / >


<p></p>
<p></p>
<p></p>

<h2>About the Sharmud Gold Group</h2>

We started selling online in 2011, selling a unique collection of bespoke Handmade Indian pieces. As a London-Based company we incorporate the culture and style of Bollywood with London street style, to create Jewellery pieces with mix and attitude . Over the past few years our selection has evolved to become a well-edited assortment of contemporary designs and fresh looks, which are perfect for any occasion. We specialise in Indian Wedding Jewellery pieces.

<p></p>
<p></p>
<p></p>